<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot password</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="m-8 w-50 h-82 bg-zinc-900 text-white">
        <h1 class="p-2 text-3xl">forgot password</h1>
        <form action="newpassword" method="GET">
            <div class="p-2 text-black">
                <input type="email" placeholder="enter email" name="email">
            </div>
            <input class="border-2 border-white rounded-md m-2 bg-blue-400 p-2" type="submit" value="ok" >
        </form>
        
    </div>
</body>
</html>