<!-- navbar.html -->
 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>navbar</title>
    <link rel="stylesheet" href="navbar.css">
    
 </head>
 <body>
    <div class="nav">
        <ul>
            <!-- <li><a href="#">Home</a></li> -->
            <li><a href="#">Sorting</a>
                <ul>
                    <li><a href="bubble.html">Bubble Sort</a></li>
                    <li><a href="selection.html">Selection Sort</a></li>
                    <li><a href="insertion.html">Insertion Sort</a></li>
                    <li><a href="merge.html">Merge Sort</a></li>
                    <li><a href="quick.html">Quick Sort</a></li>
                    <li><a href="count.html">Count Sort</a></li>
                    <li><a href="radix.html">Radix Sort</a></li>
                </ul>
            </li>
            <li><a href="#">Shortest Path</a>
                <ul class="dropdown">
                    <li><a href="prims.html">Prims algorithm</a></li>
                    <li><a href="dijakstar.html">Dijakstar algorithm</a></li>

                </ul>
            </li>
            <li><a href="#">Linked list</a>
                <ul class="dropdown">
                    <li><a href="Singly.html">Singly linked list</a></li>
                    <li><a href="Doubly.html">Doubly  linked list</a></li>
                    <li><a href="Circular.html">Circular  linked list</a></li>
                </ul>
            </li>
            
            <li><a href="#">Stack</a>
                <ul>
                    <li><a href="stack_array.html">via Array</a></li>
                    <li><a href="stack_linked_list.html">via linked list</a></li>
                </ul>
            </li>
            <li><a href="#">Queue</a>
                <ul>
                    <li><a href="queue_array.html">via Array</a></li>
                    <li><a href="queue_linked_list.html">via linked list</a></li>
                </ul>
            </li>
            <li><a href="#">Feedback</a></li>
            <li><a href="dashboard.html">Signout</a></li>
        </ul>
    </div>
 </body>
 </html>