<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practice Session</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <h1 class="text-3xl">Practice Session</h1>

    <div class="grid grid-cols-2 h-screen">
        <!-- Left Side -->
        <div class="flex bg-blue-100">
            vanshika question
        </div>

        <!-- Right Side -->
        <div class="grid grid-rows-2">
            <!-- Right Top -->
            <div class="flex items-center justify-center bg-red-100">
                <div class="relative max-w-4xl w-full h-full p-1 mx-auto">
                    <h1 class="text-xl font-semibold mb-2">Write Your Code</h1>
                    <div >
                        <ul class="flex flex-inline list-none">
                            <li><img src="../images/clock.svg" alt="clock"></li>
                            <li><img src="../images/run.svg" alt="run"></li>
                            
                        </ul>
                    </div>
                    <textarea id="cppCodeInput" class="w-full h-96 p-2 text-sm font-mono bg-red-100 text-white border border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 resize-none" placeholder="// Write your C++ code here..."></textarea>
                    <!-- Image Positioned at the Right Corner -->
            <div class="fixed bottom-4 right-4">
                <img src="../images/chatbot.png" alt="chatbot" width="50px" height="50px">
            </div>
                </div>
            </div>

            <!-- Right Bottom -->
            <div class="flex bg-green-100">
                <h1>Test Case</h1>
            </div>
        </div>
    </div>
</body>
</html>
