<!-- quickinp.html -->
 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>quick input</title>
 </head>
 <body>
    <form>
        
        <div>
            <label for="size">Enter no. of input:</label>
            <input type="text" class="vecsize" name="size" data-type="integer">
            <button type="submit">submit</button>
        </div>
        <div class="inpbox"></div>
        <div>
            <label for="element input">Enter input:</label>
            <input type="text" class="vecdata" name="element input" >
        </div>
    </form>
 </body>
 </html>